<div class="main">
    <div class="cliente-container">
        <div class="info-container">
            <div class="white2-box">
                <h2>Informacion cliente</h2>
                <div class="info-text">
                    <p>Nombre: {{cliente.nombre}}</p>
                    <p>Apellido: {{cliente.apellido}}</p>
                    <p>Telefono: {{cliente.telefono}}</p>
                    <p>Email: {{cliente.email}}</p>
                </div>
            </div>  
        </div>
    </div>
    <div class="sensor-container">
        <div class="white-box">
            <h2>Altura aproximada</h2>
            <p>{{datoSensor}} cms</p>
        </div>    
        <div class="button-container">
            <button class="button" (click)="capturarDatosSensor()">Capturar datos</button>
            <button class="button" (click)="registrar()">Registrar</button>
        </div> 
    </div>
</div>
<router-outlet></router-outlet>
